@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--color-zinc-900);
  --color-muted: var(--color-zinc-600);

  --color-primary-dark: var(--color-zinc-50);
  --color-muted-dark: var(--color-zinc-300);

  --color-light: var(--color-white);
  --color-dark: var(--color-zinc-800);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .card {
    @apply border border-zinc-200 dark:border-zinc-700 relative rounded-xl sm:rounded-2xl overflow-clip bg-white dark:bg-zinc-800;
  }
  .card-shadow {
    @apply hover:shadow-lg transition;
  }
}

@media (max-width: 768px) {
  .project-image.active .overlay {
    opacity: 1;
    visibility: visible;
  }
}
body {
  font-family: var(--font-geist-sans), sans-serif;
}
