@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--color-zinc-900);
  --color-muted: var(--color-zinc-600);

  --color-primary-dark: var(--color-zinc-50);
  --color-muted-dark: var(--color-zinc-300);

  --color-light: var(--color-white);
  --color-dark: var(--color-zinc-800);
}

@layer components {
  .card {
    @apply border border-zinc-200 dark:border-zinc-700 relative rounded-xl sm:rounded-2xl overflow-clip bg-white dark:bg-zinc-800;
  }
  .card-shadow {
    @apply hover:shadow-lg transition;
  }
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .not-sr-only {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
}

@media (max-width: 768px) {
  .project-image.active .overlay {
    opacity: 1;
    visibility: visible;
  }
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}

.shiny-hover-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3.125rem;
  background: hsla(0, 0%, 100%, 0.5);
  filter: blur(18px);
  opacity: 0.5;
  transform: translateX(-90px) skewX(-15deg);
  pointer-events: none;
  z-index: 2;
}

.shiny-hover-btn:hover::before {
  opacity: 0.6;
  transform: translateX(300px) skewX(-15deg);
  transition: transform 0.4s cubic-bezier(0.4,0,0.2,1), opacity 0.7s cubic-bezier(0.4,0,0.2,1);
}
